<div class="mainhome">
    <app-header></app-header>
    <div class="container">
        <h1 style="text-align: center">My Bookings</h1>
        <table class="table" >
            <thead>
              <tr >
                <th scope="col">from</th>
                <th scope="col">to</th>
                <th scope="col">driver</th>
                <th scope="col">departure</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let list of myList, let i= index;">
                <td>{{list?.ride.from}}</td>
                <td>{{list?.ride.to}}</td>
                <td>{{list?.driver.name}}</td>
                <td>{{list?.departure}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    </div>