<div class="mainhome">
<app-header></app-header>
<div class="container">
 <div class="row">

 </div>
</div>

<div class="container">
  <div class="row" >
    <div class="col-md-3" style="margin-top:250px">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">Booking Deatils</h4>
              <p class="card-text">origin:{{bookingData.ride?.from}}</p>
              <p class="card-text">destination:{{bookingData.ride?.from}}</p>
              <p class="card-text">driver:{{bookingData.ride?.driver.name}}</p>
              <p class="card-text">price:{{bookingData.ride?.price | currency:'INR'}}</p>
            </div>
          </div>
    </div>
    <div class="col-md-5" style="margin-top:120px">
      <h1 style="text-align: center;color:white">Booking </h1>
      <form  [formGroup]="bookingForm">
        <div class="form-group">
          <label style="color:white;font-size: 20px">Full Name</label>
          <input type="text" class="form-control" formControlName="name"  placeholder="full Name">

          <div *ngIf="bookingForm.controls['name'].touched&&!bookingForm.controls['name'].valid">
            <p>Enter a valid name</p>
          </div>
        </div>
        <div class="form-group">
          <label style="color:white;font-size: 20px">Email</label>
          <input type="text" class="form-control" formControlName="email"  placeholder="Email">
          <div *ngIf="bookingForm.controls['email'].touched&&!bookingForm.controls['email'].valid" readonly>
            <p>Enter a valid email address</p>
          </div>
        </div>
        <div class="form-group">
          <label style="color:white;font-size: 20px">Phone Number</label>
          <input type="number" class="form-control" formControlName="phone"  placeholder="phone">
          <div *ngIf="bookingForm.controls['phone'].touched&&!bookingForm.controls['phone'].valid">
            <p>Enter a valid phone number</p>
          </div>
        </div>
        <div class="form-group">
          <label style="color:white;font-size: 20px">Address PickUP</label>
          <input type="text" class="form-control" formControlName="address"  placeholder="address">
          <div *ngIf="bookingForm.controls['address'].touched&&!bookingForm.controls['address'].valid">
            <p>Enter a valid Address</p>
          </div>
        </div>
        <div class="form-group">
          <div class="input-append date">
            <label style="color:white;font-size: 20px"> Departure Time</label>
            <input id="departuredatetime" type="text" class="form-control" 
              placeholder="departure">
          </div>
          <div *ngIf="!bookingData.departure">
            <p>please fill departure</p>
          </div>
        </div>
        <button class="ui button" type="submit" (click)="onSubmit()" [disabled]="(!bookingForm.valid || !bookingData.departure)">Submit</button>
      </form>
      <p *ngIf="payment_process"> payment processing ...</p>
        <p *ngIf="payment_status == 'success'"> payment successfull</p>
        <p *ngIf="payment_status == 'failed'">payment failed retry please</p>
    </div>
  </div>
</div>