
<div class="mainhome">
  <app-header ></app-header>

<div class="container home">
<h1 class="title"> Car Booking One Way</h1>
  <div class="row row-cols-12 search">
    <form  class="form-inline">
    <div class="col col-md-3">
      <div class="form-group"><label>Origin: </label>
        <input class="form-control" type="text" [(ngModel)]="rideData.from" [ngModelOptions]="{standalone: true}" readonly
         >
      </div>
    </div>
    <div class="col col-md-3">
      <div class="form-group"><label>Destination: </label>
        <input class="form-control" type="text" [(ngModel)]="destination" [ngModelOptions]="{standalone: true}" #toaddress
         >
      </div>
    </div>
    <div class="col col-md-2">
      <div class="form-group"><label>Language(optional): </label>
        <select class="form-control" [(ngModel)]="language" [ngModelOptions]="{standalone: true}">
          <option value="">all</option>
          <option value="english">English</option>
          <option value="kannada">Kannada</option>
          <option value="hindi">Hindi</option>
        </select>
      </div>
    </div>
    <div class=" form-group col col-md-1">
      <button class="btn btn-primary" class="form-control" style="margin-top:20px" (click)="calculateDistance()" [disabled]="!destination" type="submit" value="" >Search</button>
    </div>
    </form>
  </div>
  <p *ngIf="loading" style="text-align: center">loading please wait ....</p>
<div class="container" *ngIf="driversData.length">
      <h1 style="text-align: center"> driver Lists</h1>
      <table class="table" >
          <thead>
            <tr >
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">language</th>
              <th scope="col">Booking</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let driver of driversData; let i= index;">
              <td>{{driver?.name}}</td>
              <td>{{getPrice(driver.price) | currency:'INR'}}</td>
              <td>{{driver.language}}</td>
              <td><button (click)="bookingData(i)">book</button></td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
  
</div>